body {
  min-width: 320px;
}

.wrapper {

  @media (max-width: 767px) {
    max-width: 320px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
