@import "normalize.scss";


@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";



@import "components/header.scss";
@import "components/menu.scss";
@import "components/logo.scss";
@import "components/promo.scss";
@import "components/reasons.scss";
@import "components/reason.scss";
@import "components/reason-picture.scss";
@import "components/reason-image.scss";
@import "components/foto.scss";
@import "components/foto-item.scss";
@import "components/promo-video.scss";
@import "components/recall.scss";
@import "components/recall-form.scss";
@import "components/recall-form-attraction.scss";
@import "components/search.scss";
@import "components/player.scss";
@import "components/btn.scss";
@import "components/footer.scss";
@import "components/social-block.scss";
@import "components/author.scss"
