.footer {
  padding: $mobile-padding;
  padding-top: 40px;
  padding-bottom: 23px;
  text-align: center;

  &__hastag {
    display: block;
    font-family: $ptsans;
    font-size: 21px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .footer {
    @include clearfix;
    padding-top: 0;
    padding-bottom: 36px;
    text-align: center;

    &__hastag {
      float: left;
      padding-top: 41px;
      padding-left: 10px;
      font-size: 21px;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
      padding: 0;
      padding-bottom: 36px;
      &__hastag {
        padding-left: 134px;
      }
  }

}
