.foto {
  padding: $mobile-padding;

  &__header {

  }
}


@media (min-width: 768px) {
  .foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $tablet-padding;
    font-size: 0;
  }
}

@media (min-width: 1200px) {
  .foto {
    padding: 0;
  }
}
