@media (min-width: 768px) {

  .foto-item {
    width: (100%/2);
    font-size: 12px;

    &:nth-child(2) {
      width: 100%;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__image {
      width: 100%;
    }

    &__description {

    }

    &__author {
      display: block;
    }

    &__like {


    }
  }
}

@media (min-width: 1200px) {
  .foto-item {
    width: (100%/3);
  }
}
