.foto {
  padding: $mobile-padding;

  &__header {
    text-align: center;
  }

  &__title {
    @include mobile-title;
  }

  &__text {
    width: 97%;
    margin: 0 auto;
    @include mobile-text;
  }
}

@media (min-width: 768px) {
  .foto {
    padding: $tablet-padding;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 70%;
    }
  }
}

@media (min-width: 1200px) {
  .foto {
    padding: 0;
  }
}
