.header {
  position: relative;
  margin: 0 auto;


    &__menu-toogle {
      background-image: url("../../img/icon-cross.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 17px;
      right: 20px;
      width: 26px;
      height: 26px;
      border: none;
      background-color: transparent;
      outline: none;
    }
  }


@media (min-width: 768px) {
  .header {
    position: relative;
    margin: 0 auto;

      &__menu-toogle {
        display: none;
    }
  }
}
