
.menu {

  margin: 0 auto;

  &__list {
    padding: 0;
    margin: 0;
    outline: 1px solid;
    list-style: none;
    text-align: center;
  }

  &__item {
    height: 55px;
    text-align: center;
  }

  &__link {
    text-align: center;
    line-height: 3;
  }

}

@media (min-width: 768px) {
  .menu {
    position: relative;

    &__list {
      @include clearfix;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
    }

    &__item {
      width: 20%;
      float: left;
      text-align: center;

      &:nth-child(2) {
        margin-right: 20%;
      }
    }

    &__link {
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .menu {
    
  }
}
