
.menu {
  margin: 0 auto;
  padding-bottom: 56px;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }


  &__item {
    height: 55px;
    text-align: center;
    background-color: #5eb5d1;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    color: #fff;

    &:first-child {
      border-top: none;
  }

    &:hover {
      background-color: #669ec0;
  }
}

  &__link {
    text-align: center;
    line-height: 3;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;

    &:link {
      color: #fff;
    }

  }
}

@media (min-width: 768px) {
  .menu {

    position: relative;

    &__list {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
    }

    :nth-child(2) {
      margin-right: 20%;
    }


    &__item {
      width: 20%;
      color: #000;
      background-color: white;
    }

    &__link {

      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #000;

      &:link {
        color: #000;
      }
    }
  }
}




@media (min-width: 1200px) {
  .menu {
  }
}
