@media (min-width: 768px) {
  .player {
    display: flex;
    justify-content: space-around;

    &__progress {
      width: 20%;
      flex-grow: 1;
      background-color: orange;
      height: 30px;
    }

    &__buttons {

      img {
        display: block;
      }
    }
  }
}
