.player {
  position: relative;
  padding: $mobile-padding;
  background-image: url(../../img/video-mobile.jpg);
  background-repeat: no-repeat;
  height: 201px;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
  }

  &__wrapper {
    padding-top: 156px;
  }


  &__repeat {
    position: absolute;
    left: 25px;
    bottom: -50px;
    background-color: transparent;
    fill: #5c6870;
    outline: none;
    border: none;
  }

  &__subtitles {
    position: absolute;
    right: 75px;
    bottom: -50px;
    background-color: transparent;
    outline: none;
    border: none;
    fill: #5c6870;
  }

  &__size {
    position: absolute;
    right: 25px;
    bottom: -50px;
    background-color: transparent;
    outline: none;
    border: none;
    fill: #5c6870;
  }

  &__progress {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.7)
  }

  &__statusbar {
    position: relative;
    width: 80%;
    height: 3px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);

  }

  &__bar {
    position: absolute;
    top: -4px;
    left: 15%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media  (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
  .player {
    background-image: url("../../img/video-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .player {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 500px;
    background-image: url(../../img/video-tablet.jpg);

    &__wrapper {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 10px 15px;
      display: flex;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.7)
    }

    &:after {
      display: none;
    }

    &__progress {
      width: 20%;
      flex-grow: 1;
      background-color: transparent;
    }

    &__repeat {
      display: block;
      position: static;
      margin-left: 10px;
    }

    &__subtitles {
      display: block;
      position: static;
    }

    &__size {
      display: block;
      position: static;
    }

  }
}

@media  (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
  .player {
    background-image: url("../../img/video-tablet@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .player {
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 500px;
    background-image: url(../../img/video-desktop.jpg);
  }
}

@media  (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
  .player {
    background-image: url("../../img/video-desktop@2x.jpg");
    background-size: cover;
  }
}
