.recall {
  padding: $mobile-padding;
  outline: 1px solid red;

  &__header {
    outline: 1px solid blue;
  }
  
}


@media (min-width: 768px) {

  .recall {

    padding: $tablet-padding;

  }
}

@media (min-width: 1200px) {
  .recall {
    padding: $desktop-padding;
  }

}
