.recall {
  padding: $mobile-padding;
  outline: 1px solid red;

  &__header {
    outline: 1px solid blue;
  }

  &-form {
    outline: 1px solid orange;

    &__item {
      outline: 1px solid rgb(78, 48, 201);
    }
  }
}


@media (min-width: 768px) {

  .recall {
    padding: $tablet-padding;
    outline: 1px solid red;

    &__header {
      outline: 1px solid blue;
    }

    &-form {
      position: relative;
      outline: 1px solid orange;

      &__item {

        width: 100%;
        outline: 1px solid rgb(78, 48, 201);

        &:nth-child(1) {
          float: left;
          width: 50%;
          height: 200px;
        }

        &:nth-child(2) {
          float: right;
          width: 50%;
          height: 200px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .recall {
    padding: $desktop-padding;
  }

}
