@media (min-width: 768px) {

  .recall-form-attraction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


    &__wrapper {
      box-sizing: border-box;
      padding-left: 17%;
      width:50%;
      &:nth-child(1) { order: 0; }
      &:nth-child(2) { order: 1; }
      &:nth-child(4) { order: 2; }
    }
  }
}

@media (min-width: 1200px) {
  .recall-form-attraction {
    &__wrapper {
      box-sizing: border-box;
      width:25%;
      padding-left: 10%;
    }
  }
}
