.recall {
  padding: $mobile-padding;

  &__header {
    padding-bottom: 17px;
    text-align: center;
  }

  &__title {
    padding-top: 26px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    padding-top: 17px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
  }

}


@media (min-width: 768px) {

  .recall {
    padding: $tablet-padding;
    padding-bottom: 60px;

    &__header {
      padding-bottom: 70px;
    }

    &__title {
      margin: 0;
      padding-top: 70px;
      font-size: 30px;
    }

    &__text {
      width: 69%;
      padding-top: 22px;
    }
  }
}

@media (min-width: 1200px) {
  .recall {
    padding: $desktop-padding;

    &__header {
      padding-bottom: 70px;
    }

    &__title {
      padding-top: 105px;
    }

    &__text {
      width: 45%;
    }
  }

}
