
@media (min-width: 768px) {
  .recall-form {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__label {

    }

    &__input {

      &--phone {
        width: 100%;
      }

      &--email {
        width: 100%;
      }

      &--name {
        margin-left: 10px;
        flex-grow: 1;
      }

      &--surname {
        margin-left: 10px;
        flex-grow: 1;
      }

      &--patronymic {
        margin-left: 10px;
        flex-grow: 1;
      }
    }

    &__item {
      width: 50%;

      &:nth-child(3) {
        order: -1;

      }

      &:nth-child(2) {
        width: 100%;

      }

      &:nth-child(4) {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .recall-form {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-attraction {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      &__wrapper {
        width: 25%;
        &:nth-child(1) { order: 0; }
        &:nth-child(2) { order: 1; }
        &:nth-child(4) { order: 2; }
      }
    }

    &__item {
      width: 50%;

      &:nth-child(3) {
        order: -1;

      }

      &:nth-child(2) {
        width: 100%;

      }

      &:nth-child(4) {
        width: 100%;
      }
    }
  }
}
