.recall-form-attraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__wrapper {
    padding-bottom: 33px;
  }
}

@media (min-width: 768px) {

  .recall-form-attraction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-left: 100px;


    &__wrapper {
      box-sizing: border-box;
      width:50%;
      &:nth-child(1) { order: 0; }
      &:nth-child(2) { order: 1; }
      &:nth-child(4) { order: 2; }
    }
  }
}

@media (min-width: 1200px) {
  .recall-form-attraction {
    padding-left: 0;
    &__wrapper {
      box-sizing: border-box;
      width:25%;
    }
  }
}
