.social-block {
  padding-top: 37px;
  font-size: 0;

  &__link {
    display: inline-block;
    margin-right: 6px;
    text-decoration: none;
    vertical-align: top;
    background-color: #81b3d2;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd;
    }

    &--twitter {
      padding: 17px 15px 16px 14px;
    }

    &--facebook {
      padding: 13px 20px 16px 18px;
    }

    &--youtube {
      padding: 17px 13px 17px 13px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    fill: #fff;
  }
}


@media (min-width: 768px) {

  .social-block {
    float: left;
    padding-left: 115px;
  }
}

@media (min-width: 1200px) {

  .social-block {
    padding-top: 35px;
    padding-left: 255px;
  }

  
}
